@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500;600&family=Titillium+Web:wght@600&display=swap');


body {
    background-color: #020408;
    color: #bc90e6;
    box-sizing: border-box;
    align-items: center;
}

header{
    margin: 0%;
}

.cabecalho {
    background-color: #ba8fd6;
    color: #3a3939;
    padding: 2.5% 10%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px; 
} 

.cabecalho_menu {
    display: flex;
    gap: 5%;
}

img{
    width: 35%;
    box-sizing: border-box;
    border-radius: 5%;
}

.titulo__destaque{
    color: #bc90e6;
}

.apresentacao {
    margin: 10%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    margin: 0%;
    font-size: 36px;
    font-family: 'Genos', sans-serif; 
    color: aliceblue;
}

.apresentacao__conteudo__texto {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    
}

.apresentacao__conteudo__links {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    vertical-align: center;
    margin: 0px 10px;
}

#link_um_redes, #link_dois_redes, #link_tres_redes{
    display: flex;
    justify-content: center;
    gap: 4%;
    color: #f6f6f6;
    text-decoration: none;
    align-items: center;
    border: 2px solid #622988;
    padding: 12px 15%;
    border-radius: 4px;
    font-family: 'Titillium Web', sans-serif;
}

#link_dois_redes {
    gap: 6%;
}

#link_um_redes:hover, #link_dois_redes:hover, #link_tres_redes:hover{
    padding: 13px 16%px;
    background-color: #ba8fd6;
    color: rgb(5, 5, 5);
}

.rodape {
    background-color: #ba8fd6;
    color: #3a3939;
    padding: 1% 1%;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
}